.Pages {
	flex-grow: 2;
	width: 550rem;
	overflow: hidden;
	position: relative;
	@media (max-width: 600px) {
		width: 100%;
	}
	&__inner {
		position: absolute;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
