.Pages {
	flex-grow: 2;
	width: 550rem;
	overflow: hidden;
	position: relative;
	@media (max-width: 600px) {
		width: 100%; }
	&__inner {
		top: 0;
		left: 0;
		bottom: 0;
		right: -17rem;
		position: absolute;
		overflow-y: scroll;
		overflow-x: hidden; } }