.Header {
	&__title {
		font-size: 60rem;
		position: relative;
		letter-spacing: 5rem;
		font-family: "Yeseva One", sans-serif;
		transition: var(--transition-duration) color;
		&:hover {
			color: var(--primary-color); } }
	&__separator {
		width: 100rem;
		height: var(--border-width);
		background-color: var(--border-color); }
	&__email {
		cursor: pointer;
		transition: var(--transition-duration) background-color;
		&-button {
			--button-dimension: 25rem;
			&-icon {
				margin-top: 2rem; } }
		&-email {
			&:hover,
			&:focus {
				background-color: transparent; } }
		&-address {
			position: relative;
			&-text {
				font-size: 16rem;
				user-select: none; }
			&-underline {
				left: 0;
				width: 100%;
				height: 2rem;
				bottom: -14rem;
				position: absolute;
				transform: scaleX(0);
				transform-origin: bottom right;
				background-color: var(--primary-color);
				transition: transform var(--transition-duration) ease-out; } }
		&-copy {
			opacity: 0;
			transition: var(--transition-duration) opacity; }
		&:hover {
			background-color: var(--hover-color); }
		&:hover &-copy {
			opacity: 1; }
		&:hover &-address-underline {
			transform: scaleX(1);
			transform-origin: bottom left; } } }