.Header {
	gap: var(--space-double);
	&__title {
		font-size: 60rem;
		position: relative;
		letter-spacing: 5rem;
		font-family: "Yeseva One";
		transition: var(--transition-duration) color;
		&:hover {
			color: var(--primary-color); }
		&::after {
			left: 50%;
			width: 50%;
			bottom: -37%;
			content: "";
			position: absolute;
			height: var(--border-width);
			transform: translateX(-50%);
			background-color: var(--border-color); } }
	&__email {
		&:hover &-copy {
			visibility: visible; }
		&-text {
			font-size: 16rem; }
		&-link {
			&:hover {
				text-decoration: underline; } }
		&-icon {
			--button-dimension: 25rem;
			&-icon {
				margin-top: 2rem; } }
		&-email {
			cursor: unset;
			&:hover,
			&:focus {
				background-color: transparent; } }
		&-copy {
			visibility: hidden; }
		&-copied {
			font-size: 13rem;
			font-weight: 300;
			font-style: italic; } } }