.Skill {
	&__button {
		align-self: stretch;
		&-image {
			border-radius: unset;
		}
		&-icon {
			transition: var(--transition-duration) transform;
		}
	}
	&__details {
		gap: var(--space-double);
	}
	&__content {
		width: 400rem;
	}
}
