:root {
	--border-width: 3rem;
	--border-color: #e2e1e1;
	--header-height: 110rem;
	--border-hover-color: #d1d0d0;

	--primary-color: #f57c00;
	--primary-color-dark: #bb4d00;
	--primary-color-light: #ffad42;

	--secondary-color: #78909c;
	--secondary-color-dark: #4b636e;
	--secondary-color-light: #a7c0cd;

	--hover-color: #ede9e9;
	--background-color: #f7f2f2;

	--transition-duration: 0.4s;

	--font-family: "Roboto", system-ui; }

#Root {
	background-color: var(--background-color); }

.BodyOne {
	line-height: 1.2;
	text-align: center; }

.Root {
	padding: 0 calc(var(--space) * 4);
	&__content {
		--dim: 550rem;
		display: flex;
		width: var(--dim);
		align-items: center;
		flex-direction: column;
		@media (max-width: 800px) {
			width: 100%; } }
	&__title {
		font-size: 65rem;
		letter-spacing: 2rem;
		&-text {
			width: 65%;
			&-first {
				font-weight: 500;
				font-size: 24rem; }
			&-second {
				font-size: 20rem; } } } }