:root {
	--text-color: #333;
	--elevated-color: #fff;
	--hover-color: #eee;
	--button-hover-color: #e0e0e0;
	--text-color-white: #fff;
	--text-color-light: #757575;
	--background-color: #fafafa;
	--border-color: #e0e0e0;

	--font-size: 1px;
	--font-family: "Josefin Sans", sans-serif;;

	--line-height: 1.5;
	--info-height: 35rem;
	--header-height: 60rem;
	--player-height: 96rem;
	--player-height-mobile: 125rem;

	--sidebar-width: 300rem;

	--border-radius: 5px;

	--space: 20rem;

	--space-triple: calc(var(--space) * 3);
	--space-double: calc(var(--space) * 2);
	--space-one-half: calc(var(--space) * 1.5);
	--space-one-quart: calc(var(--space) * 1.25);
	--space-three-quart: calc(var(--space) * 0.75);
	--space-half: calc(var(--space) * 0.5);
	--space-quart: calc(var(--space) * 0.25);
	--space-fifth: calc(var(--space) * 0.2);

	--content-width: 100vw;

	--transition-duration: 0.2s; }

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #333;
		--hover-color: #eee;
		--elevated-color: #fff;
		--border-color: #e0e0e0;
		--text-color-white: #fff;
		--text-color-light: #757575;
		--background-color: #fafafa; } }

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fafafa;
		--hover-color: #424242;
		--border-color: #424242;
		--text-color-white: #333;
		--elevated-color: #212121;
		--text-color-light: #757575;
		--background-color: #424242; } }

html {
	box-sizing: border-box;
	color: var(--text-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	line-height: var(--line-height);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; }

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit; }

.Root {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	background-color: #4CAF50; }

.GithubIcon {
	top: 0;
	right: 0;
	font-size: 30rem;
	position: absolute;
	margin: var(--space-half);
	padding: var(--space-half);
	color: var(--text-color-white);
	&:hover {
		background-color: ; } }

.Title {
	font-size: 60rem;
	text-align: center;
	color: var(--text-color-white);
	margin-top: var(--space-double);
	&::after {
		content: "";
		height: 6rem;
		width: 175rem;
		display: block;
		margin: 0 auto;
		background-color: #fff;
		transform: rotate(-2deg);
		margin-top: var(--space-half);
		border-radius: var(--border-radius);
		box-shadow:
			0 0 4px rgba(0, 0, 0, 0.14),
			0 0 3px -2px rgba(0, 0, 0, 0.12),
			0 0 8px rgba(0, 0, 0, 0.2); } }

.SubTitle {
	font-size: 22rem;
	text-align: center;
	color: var(--text-color-white);
	margin-top: var(--space-one-half); }

.Main {
	width: 100%;
	height: 200vh;
	margin-top: var(--space);
	background-color: #212121;
	padding-top: calc(150rem + var(--space));
	clip-path: polygon(0 150rem, 100% 0, 100% 100%, 0% 100%); }