.Index {
	padding: 0 var(--space-triple);
	@media (max-width: 800px) {
		padding: var(--space-double); }
	&__inner {
		height: 100%;
		gap: var(--space-triple);
		padding: var(--space-double) 0;
		@media (max-width: 800px) {
			border: 0;
			padding: 0;
			gap: var(--space-triple); } } }